@{

    Layout = "~/Views/Shared/_LayoutStudent.cshtml";

}
@using System.Web.Mvc;
@using Racun_kec_test.Models
@model Racun_kec_test.Models.Usluga

                                               


<fieldset>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">

            <form method="post" action="create">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id_usluga)


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id_racun)

                <p>
                    @Html.LabelFor(model => model.Racun, new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.Racun, ViewBag.InvoiceID as IEnumerable<SelectListItem>, "- Odaberite Kupca -", new { htmlAttributes = new { @Class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.naziv, "", new { @class = "text-danger" })
                </p>
                <p>
                    @Html.LabelFor(model => model.naziv, new { @class = "control-label" })
                    @Html.EditorFor(model => model.naziv, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.naziv, "", new { @class = "text-danger" })
                </p>


                <p>
                    @Html.LabelFor(model => model.cijena, new { @class = "control-label" })
                    @Html.EditorFor(model => model.cijena, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cijena, "", new { @class = "text-danger" })
                </p>
                <p>
                    @Html.LabelFor(model => model.mjerna_jedinica, new { @class = "control-label" })
                    <br />

                    @Html.DropDownListFor(model => model.mjerna_jedinica, new SelectList(Model.mjerne_jedinice, "Value", "Text"), "-Odaberite mjernu jedinicu-", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.mjerna_jedinica, "", new { @class = "text-danger" })
                </p>



                <input type="submit" value="Kreiraj" class="btn btn-success" />
            </form>
            <br /><br />
            @Html.ActionLink("Povratak", "Index", new { @class = "btn btn-link" })
        </div>

    }
</fieldset>