@using Racun_kec_test.Models
@model List<Racun_kec_test.Models.Usluga>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="UTF-8" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <!-- GLOBAL STYLES -->
    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="~/assets/css/theme.css" />
    <link rel="stylesheet" href="~/assets/css/MoneAdmin.css" />
    <link rel="stylesheet" href="~/assets/plugins/Font-Awesome/css/font-awesome.css" />
    <!--END GLOBAL STYLES -->
    <!-- PAGE LEVEL STYLES -->
    <link href="assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- END PAGE LEVEL  STYLES -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="padTop53 ">
    <!--PAGE CONTENT -->
    <div id="content">
        <div class="inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3> Detalji o usluzi</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div>
                                </div>
                                <div class="col-lg-5">
                                </div>
                            </div> <!--END ROW -->
                            <br>
                            <div class="table-responsive">

                                @foreach (Usluga d in Model)
                                {

                                    <h3>ID Usluge:</h3>
                                    <p>@d.id_usluga</p>

                                    <h3>Naziv:</h3>
                                    <p>@d.naziv</p>

                                    <h3>Cijena:</h3>
                                    <p>@d.cijena @d.mjerna_jedinica </p>

                                    <br />

                                }
                                <br />
                                @Html.ActionLink("Povratak ", "Index", new { @class = "btn btn-link" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--END PAGE CONTENT -->
    <!--END MAIN WRAPPER -->
    <!-- FOOTER -->
    <div id="footer">
        <p>&copy;  binarytheme &nbsp;2019 &nbsp;</p>
    </div>
    <!--END FOOTER -->
    <!-- GLOBAL SCRIPTS -->
    <script src="~/assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <!-- END GLOBAL SCRIPTS -->
    <!-- PAGE LEVEL SCRIPTS -->
    <script src="~/assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script>
$(document).ready(function () {
            $('#dataTables-example').dataTable();
        });</script>
    <!-- END PAGE LEVEL SCRIPTS -->
</body>
<!-- END BODY -->
</html>
