
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
@using Racun_kec_test.Models
@model Usluga
<body class="padTop53 ">
    <!--PAGE CONTENT -->
    <div id="content">
        <div class="inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <br>
                        <div class="panel-heading">
                            <h4> Izmjene u usluzi</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <br>
                                            <div class="table-responsive">
                                                @using (Html.BeginForm())
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <div class="form-group">

                                                        <form method="post" action="">
                                                            
                                                            <p>
                                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                                @Html.HiddenFor(model => model.id_usluga)

                                                            </p>
                                                            <p>
                                                                @Html.LabelFor(model => model.naziv, new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.naziv, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.naziv, "", new { @class = "text-danger" })
                                                            </p>



                                                            <p>
                                                                @Html.LabelFor(model => model.cijena, new { @class = "control-label" })
                                                                <br />
                                                                @Html.EditorFor(model => model.cijena, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.cijena, "", new { @class = "text-danger" })
                                                            </p>
                                                            <p>
                                                                @Html.LabelFor(model => model.mjerna_jedinica, new { @class = "control-label" })
                                                                @Html.DropDownListFor(model => model.mjerna_jedinica, new SelectList(Model.mjerne_jedinice, "Value", "Text"), "-Odaberite mjernu jedinicu-", new { @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.mjerna_jedinica, "", new { @class = "text-danger" })
                                                            </p>
                                                           

                                                            <button class="btn btn-danger">Uredi</button>
                                                        </form>
                                                        @Html.ActionLink("Odustani", "Index", new { @class = "btn btn-primary" })
                                                    </div>

                                                }
                                            </div>
                                            @section Scripts {
                                                @Scripts.Render("~/Scripts/jquery.validate")
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                </div>
                            </div><!--END ROW -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--END PAGE CONTENT -->
    <!--END MAIN WRAPPER -->
    <!-- FOOTER -->
    <div id="footer">
        <p>&copy;  binarytheme &nbsp;2019 &nbsp;</p>
    </div>
    <!--END FOOTER -->
    <!-- GLOBAL SCRIPTS -->
    <script src="~/assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <!-- END GLOBAL SCRIPTS -->
    <!-- PAGE LEVEL SCRIPTS -->
    <script src="~/assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script>$(document).ready(function () {
            $('#dataTables-example').dataTable();
        });</script>
    <!-- END PAGE LEVEL SCRIPTS -->
</body>
<!-- END BODY -->
