<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <!--END GLOBAL STYLES -->
    <!-- PAGE LEVEL STYLES -->
    <link rel="stylesheet" href="~/Assets/bootstrap.css" />
    <link rel="stylesheet" href="~/Assets/main.css" />
    <link rel="stylesheet" href="~/Assets/theme.css" />
    <link rel="stylesheet" href="~/Assets/MoneAdmin.css" />
    <link rel="stylesheet" href="~/Assets/font-awesome.css" />

    <link href="~/Assets/style.css" rel="stylesheet" />
    <!--END GLOBAL STYLES -->
    <!-- PAGE LEVEL STYLES -->
    <link href="~/Assets/dataTables.bootstrap.css" rel="stylesheet" />


    @Styles.Render("~/Content/css")
    @RenderSection("Header", false)

</head>
<body class="padTop53 ">
    <!-- HEADER SECTION -->
    <div id="top">
        <nav class="navbar navbar-inverse navbar-fixed-top ">
           
            <!-- LOGO SECTION -->
            <div class="container-fluid">
               
            </div>
            <!-- END LOGO SECTION -->

        </nav>
    </div>

    
        @RenderBody()
        

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
</html>
