<span class="login">

    @if (Session["Username"] != null)
    {
        <text>Pozdrav <strong>@Session["Username"]</strong>!
        [ @Html.ActionLink("Odjava", "Prijava", "Prijava") ]</text>
    }
    else
    {
        @:[ @Html.ActionLink("Prijava", "Prijava", "Prijava") ]
    }



    @*@if (!Request.IsAuthenticated)
    {
        <text>Pozdrav <strong>@Session["Username"]</strong>!
        [ @Html.ActionLink("Odjava", "LogOff", "Account") ]</text>
    }
    else
    {
        @:[ @Html.ActionLink("Prijava", "LogOn", "Account") ]
    }*@
</span>