@*
    Iván Loire - www.iloire.com
    Please readme README file for license terms.

    ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@using Racun_kec_test.Models
@model Racun



<script>
    $(document).ready(function () {


        $('#editInvoiceNumber').live('click', function () {
            $('#InvoiceNumber').attr('disabled', '');
        });
    });
</script>

<div class="col-sm-5">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">


            @Html.HiddenFor(model => model.id_racun)

            <p></p>
            <p></p>

            <div class="form-group">
            @Html.LabelFor(model => model.broj_racuna, new { @class = "control-label col-md-2" })


            @if (Model != null && Model.id_racun > 0)
            {
                <div class="col-md-10">
                    @Html.EditorFor(model => model.broj_racuna, new { htmlAttributes = new { @class = "form-control", placeholder = "Broj racuna" } })
                    @Html.HiddenFor(model => model.broj_racuna)
                </div>
            }
            else
            {
                <div class="col-md-10">
                    @Html.EditorFor(model => model.broj_racuna, new { htmlAttributes = new { @class = "form-control", placeholder = "Broj racuna" } })

                </div>
            }

            @Html.ValidationMessageFor(model => model.broj_racuna, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.naslov, new { @class = "control-label" })


            @Html.EditorFor(model => model.naslov, new { htmlAttributes = new { @class = "form-control", placeholder = "Naslov" } })
            @Html.ValidationMessageFor(model => model.naslov, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            @Html.LabelFor(x => Model.Kupac, new { @class = "control-label" })
            <br />

            @Html.DropDownListFor(model => model.id_kupac, ViewData["Kupac"] as IEnumerable<SelectListItem>, "- Odaberite Kupca -", new { htmlAttributes = new { @Class = "form-control" } })
            @Html.ValidationMessageFor(x => x.id_kupac, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.oznaka, new { @class = "control-label" })


            @Html.EditorFor(model => model.oznaka, new { htmlAttributes = new { @class = "form-control", placeholder = "oznaka" } })
            @Html.ValidationMessageFor(model => model.oznaka, "", new { @class = "text-danger" })
        </div>




        <div class="form-group">
            @Html.LabelFor(model => model.datum_izdavanja, new { @class = "control-label" })


            @Html.EditorFor(model => model.datum_izdavanja,"Calendar", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.datum_izdavanja, "", new { @class = "text-danger" })
        </div>
     

  </div>

       
    }



    <div class="actions">
        <input type="submit" class="btn primary" value="Spremi" />
        @if (Model != null && Model.id_racun > 0)
        {<text>
                @Html.ActionLink("Obriši", "Delete", new { id = Model.id_racun }, new { @class = "btn" })
        </text>
    }
       



    </div>
</div>