

@using Racun_kec_test.Models.MvcPaging
@using Racun_kec_test.Models
@model IPagedList<Racun>



@{
    ViewBag.Title = "Lista računa";
}



@section Header{
    <script>
        var sorter_options = {
            headers: {
                3: { sorter: 'datetime' },
                4: { sorter: 'decimal' },
                5: { sorter: 'decimal' }
            }
        };
    </script>
}

<h1>Lista računa</h1>

@Html.ActionLink("[+] Kreiraj novi račun", "Create", "Racun", null, new { @class = "btn primary" })


@{Html.RenderPartial("SearchBoxItems", "Racun");}

<div class="pagingContainer noprint">
    @{
        RouteValueDictionary r = new RouteValueDictionary();

        r.Add("text", Request["text"]);
    }
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, r)
</div>

<table class="zebra-striped">
    <thead>
    <th>
        ID
    </th>
    <th>
        Kupac
    </th>
    <th>
        Naslov
    </th>
    <th>
        Oznaka
    </th>
    <th>
        Datum izdavanja
    </th>
    <th>
        Osnovica
    </th>


    <th>
        Ukupno za platiti
    </th>

    <th class="noprint"></th>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                #@Html.DisplayFor(modelItem => item.broj_racuna)
            </td>
            <td>
                <a href="@Url.Action("Details", "Kupac", new { id=item.id_kupac})">
                    @Html.DisplayFor(modelItem => item.Kupac.ime_prezime)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oznaka)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.datum_izdavanja)
            </td>
            <td nowrap>
                @String.Format("{0:#.00}", item.Stavke_Racuna.Sum(i => i.Ukupno))
            </td>
            @* <td>
                    @String.Format("{0:C}", item.InvoiceDetails.Sum(i => i.TotalPlusVAT))
                </td>*@

            <td nowrap>
                @String.Format("{0:#.00}", item.UkupnoplusPDV)



            </td>
            <td class="noprint" nowrap>
                @Html.ActionLink("Uredi", "Edit", new { id = item.id_racun }, new { @class = "btn primary" })
                @Html.ActionLink("Obriši", "Delete", new { id = item.id_racun }, new { @class = "btn danger" })
                @Html.ActionLink("PDF", "PrintViewToPdf", new { id = item.id_racun }, new { target = "_blank", @class = "btn success" })


            </td>
        </tr>
    }



</table>
<!-- GLOBAL SCRIPTS -->
<script src="~/assets/plugins/jquery-2.0.3.min.js"></script>
<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<!-- END GLOBAL SCRIPTS -->
<!-- PAGE LEVEL SCRIPTS -->
<script src="~/assets/plugins/dataTables/jquery.dataTables.js"></script>
<script src="~/assets/plugins/dataTables/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable();
    });
</script>
