@model Racun_kec_test.Models.Korisnik
@using System.Web.Mvc;


@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    ViewBag.Title = "Registracija";
}
<div class="col-sm-4"></div>
<div class="col-sm-4">
    @using (Html.BeginForm())
    {


        @Html.AntiForgeryToken()

    <div class="form-signin" style="padding-top:10px">
        <div class="text-center">
            <img src="~/img/logo.png" id="logoimg" alt=" Logo" />
        </div>
        <p></p>
        <p></p>
        <p class="text-muted text-center btn-block btn btn-primary btn-rect">
            Upišite podatke kako biste se registrirali
        </p>
        <p></p>
        <p></p>
        @Html.LabelFor(model => model.ime_prezime, new { @class = "control-label" })
        @Html.EditorFor(model => model.ime_prezime, new { htmlAttributes = new { @class = "form-control", placeholder = "Ime i prezime" } })
        @Html.ValidationMessageFor(model => model.ime_prezime, "", new { @class = "text-danger" })

        <p></p>
        <p></p>
        @Html.LabelFor(model => model.email, new { @class = "control-label" })
        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "E-mail adresa" } })
        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        <p class="text-danger">@ViewBag.Message </p>
        <p></p>
        <p></p>
        @Html.LabelFor(model => model.lozinka, new { @class = "control-label" })
        @Html.PasswordFor(model => model.lozinka, new { @class = "form-control", placeholder = "Lozinka" })
        @Html.ValidationMessageFor(model => model.lozinka, "", new { @class = "text-danger" })
        <p></p>
        <p></p>
        @Html.LabelFor(model => model.licenca, new { @class = "control-label" })
        @Html.EditorFor(model => model.licenca, new { htmlAttributes = new { @class = "form-control", placeholder = "Licenca" } })
        @Html.ValidationMessageFor(model => model.licenca, "", new { @class = "text-danger" })

        <p></p>
        <p></p>
        @Html.LabelFor(model => model.aktivan, new { @class = "control-label" })
        @Html.EditorFor(model => model.aktivan, new { htmlAttributes = new { @class = "form-control", placeholder = "Aktivan" } })
        @Html.ValidationMessageFor(model => model.aktivan, "", new { @class = "text-danger" })
        <p></p>
        <p></p>

        @ViewBag.greska


    </div>
        <p></p>
        <p></p>
        // Submit (save) tipka
        <p><input type="submit" value="Registriraj se" class="btn btn-danger" /></p>
        <p> @Html.ActionLink("Prijava", "Prijava", new { @class = "btn btn-link" })  |    @Html.ActionLink("Registracija", "Registracija", new { @class = "btn btn-link" })</p>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}