@*
    Iván Loire - www.iloire.com
    Please readme README file for license terms.

    ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@
@using Racun_kec_test.Models
@model Stavke_racuna

@{
    ViewBag.Title = "Delete";
}


<div class="alert-message warning">
    <a class="close" href="#">×</a>
    <p><strong>Sigurno želite obrisati ovaj artikl?</strong></p>
</div>

<fieldset>
    <legend></legend>
    <p>
        <strong>Račun: </strong>
        @Html.DisplayFor(model => model.Racun.naslov)
    </p>
    <p>
        <strong>Naziv artikla: </strong>
        @Html.DisplayFor(model => model.Artikl)
    </p>
    <p>
        <strong>Količina: </strong>
        @Html.DisplayFor(model => model.kolicina)
    </p>
    <p>
        <strong>Cijena: </strong>
        @Html.DisplayFor(model => model.cijena)
    </p>
    <p>
        <strong>PDV: </strong>
        @Html.DisplayFor(model => model.pdv)
    </p>
    <p>
        <strong>Vrijeme kreiranja: </strong>
        @Html.DisplayFor(model => model.Vrijeme)
    </p>
</fieldset>

@using (Html.BeginForm())
{
    <div class="actions">
        <input type="submit" class="btn primary" value="Obriši" />
        <input type="button" class="btn closeModal" value="Zatvori" />
    </div>
}
