@model Racun_kec_test.Models.Kupac

@{
    ViewBag.Title = "Details";
}

<h2>Detalji kupca</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ime_prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime_prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.drzava)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.drzava)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oib)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oib)
        </dd>

    </dl>
</div>
<p>
    
   <a href=" @Url.Action("Index", "Racun")">Povratak</a> 
</p>

