@model Racun_kec_test.Models.Login
@using System.Web.Mvc;



<div class="col-sm-4"></div>
<div class="col-sm-4">

    @using (Html.BeginForm())
    {


        @Html.AntiForgeryToken()

        <div class="form-signin">

            <div class="text-center">
                <img src="~/Logo/logo.png" id="logoimg" alt=" Logo" />
            </div>

            <p></p>
            <p></p>

            <p class="text-muted text-center btn-block btn btn-primary btn-rect">
                Upišite korisničko ime i lozinku
            </p>

            <p></p>
            <p></p>

            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "E-mail adresa" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })

            <p></p>
            <p></p>

            @Html.PasswordFor(model => model.lozinka, new { @class = "form-control", placeholder = "Lozinka" })
            @Html.ValidationMessageFor(model => model.lozinka, "", new { @class = "text-danger" })


        </div>
        <p></p>
        <p></p>
        // Submit (save) tipka
        <p><input type="submit" value="Prijavi se" class="btn btn-danger" /></p>
        <p> @Html.ActionLink("Prijava", "Prijava", new { @class = "btn btn-link" })   |   @Html.ActionLink("Registracija", "Registracija", new { @class = "btn btn-link" })</p>
    }

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}