@{


}
@using System.Web.Mvc;
@using Racun_kec_test.Models
@model Racun_kec_test.Models.Poduzece

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="UTF-8" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <!-- GLOBAL STYLES -->
    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="~/assets/css/theme.css" />
    <link rel="stylesheet" href="~/assets/css/MoneAdmin.css" />
    <link rel="stylesheet" href="~/assets/plugins/Font-Awesome/css/font-awesome.css" />
    <!--END GLOBAL STYLES -->
    <!-- PAGE LEVEL STYLES -->
    <link href="assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- END PAGE LEVEL  STYLES -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="padTop53 ">

    <!--PAGE CONTENT -->
    <div id="content">
        <div class="inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <br>
                        <div class="panel-heading">
                            <h4> Prijava poduzeća</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-default">

                                        <div class="panel-body">
                                            <br>
                                            <div class="table-responsive">
                                                @using (Html.BeginForm())
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <div class="form-group">


                                                        <form method="post" action="">
                                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                            @Html.HiddenFor(model => model.id_poduzece)

                                                            <p>
                                                                @Html.LabelFor(model => model.naziv, new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.naziv, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.naziv, "", new { @class = "text-danger" })
                                                            </p>
                                                            <p>
                                                                @Html.LabelFor(model => model.adresa, new { @class = "control-label" })
                                                                <br />
                                                                @Html.TextAreaFor(model => model.adresa, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.adresa, "", new { @class = "text-danger" })
                                                            </p>
                                                            <p>
                                                                @Html.LabelFor(model => model.grad, new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.grad, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.grad, "", new { @class = "text-danger" })
                                                            </p>
                                                            <p>
                                                                @Html.LabelFor(model => model.drzava, new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.drzava, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.drzava, "", new { @class = "text-danger" })
                                                            </p>
                                                            <p>
                                                                @Html.LabelFor(model => model.oib, new { @class = "control-label" })
                                                                <br />
                                                                @Html.EditorFor(model => model.oib, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.oib, "", new { @class = "text-danger" })
                                                            </p>
                                                            <p>
                                                                @Html.LabelFor(model => model.odgovorna_osoba, new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.odgovorna_osoba, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.odgovorna_osoba, "", new { @class = "text-danger" })
                                                            </p>
                                                            <p>
                                                                @Html.LabelFor(model => model.mob, new { @class = "control-label" })

                                                                @Html.EditorFor(model => model.mob, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.mob, "", new { @class = "text-danger" })
                                                            </p>
                                                            <p>
                                                                @Html.LabelFor(model => model.tel, new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.tel, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.tel, "", new { @class = "text-danger" })
                                                            </p>
                                                            <p>
                                                                @Html.LabelFor(model => model.email, new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                                            </p>
                                                            <p>
                                                                @Html.LabelFor(model => model.banka, new { @class = "control-label" })
                                                                <br />
                                                                @Html.EditorFor(model => model.banka, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.banka, "", new { @class = "text-danger" })
                                                            </p>
                                                            <p>
                                                                @Html.LabelFor(model => model.ziro_racun, new { @class = "control-label" })
                                                                <br />
                                                                @Html.EditorFor(model => model.ziro_racun, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.ziro_racun, "", new { @class = "text-danger" })
                                                            </p>




                                                            <button class="btn btn-success">Dodaj poduzece</button>
                                                        </form>
                                                        <br /><br />
                                                        @Html.ActionLink("Povratak", "PoduzećeIndex", new { @class = "btn btn-link" })
                                                    </div>

                                                }
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                </div>
                            </div><!--END ROW -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!--END PAGE CONTENT -->
    <!--END MAIN WRAPPER -->
    <!-- FOOTER -->
    
    <!--END FOOTER -->
    <!-- GLOBAL SCRIPTS -->
    <script src="~/assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <!-- END GLOBAL SCRIPTS -->
    <!-- PAGE LEVEL SCRIPTS -->
    <script src="~/assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
</body>
<!-- END BODY -->
</html>
